/* VARIABLES */

:root {
  --main-text-color: #373C42;
  --main-white-color: #fff;
  --main-bg-color: #9181FF;
  --main-font-size: 15px;
  --second-font-size: 18px;
  --font-family: "Unica One", display;
  --second-family: "Yeseva One", display;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Unica One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/unica-one-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/unica-one-v13-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/yeseva-one-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/yeseva-one-v20-latin-regular.woff") format("woff");
}

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */

.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

/* SITE HEADER START */

.site-header {
  padding-bottom: 35px;
}

.site-header__top {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 14px 0;
  width: 1440px;
  background-color: #E1E7F3;
}

.site-header__top-text {
  display: inline-block;
  margin-left: auto;
  margin-right: 590px;
  font-size: 13px;
  line-height: 20px;
  color: #373C42;
  text-align: center;
}

.site-header__top-btn {
  width: 11px;
  height: 11px;
  margin-right: 42px;
  background-image: url("../images/plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.site-header__bottom {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 35px;
  width: 1340px;
  background-color: #fff;
}

.logo {
  width: 78px;
  height: 22px;
  margin-right: auto;
}

.list {
  display: flex;
  align-items: center;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__item:not(:last-child) {
  margin-right: 30px;
}

.list__item:nth-child(2)::after {
  width: 6px;
  height: 6px;
  margin-left: 30px;
  content: "";
  background-color: #A294FF;
}

.list__item:last-child {
  margin-right: 35px;
}

.list__item:last-child::after {
  width: 6px;
  height: 6px;
  margin-left: 30px;
  content: "";
  background-color: #A294FF;
}

.list__link {
  display: inline-block;
  font-size: 16px;
  line-height: 25px;
  color: var(--main-text-color);
  border-bottom: 1px solid var(--main-bg-color);
}

.site-header__btn-box {
  display: flex;
  align-items: center;
}

.site-header__btn {
  width: 20px;
  height: 20px;
  background-image: url("../images/basketball.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.site-header__btn:nth-child(1) {
  height: 13px;
  margin-right: 20px;
  background-image: url("../images/be.svg");
  background-repeat: no-repeat;
}

/* SITE HERO SECTION START */

.hero {
  padding-top: 60px;
  padding-bottom: 869px;
  background-image: url("../images/hero-img.svg");
  background-repeat: no-repeat;
  background-size: 962px 671px;
  background-position: calc(50% - 15px) 564px;
}

.hero__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 31px;
  width: 410px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.hero__top::after {
  position: absolute;
  bottom: 0;
  left: 105px;
  width: 200px;
  height: 1px;
  content: "";
  background-color: var(--main-bg-color);
}

.hero__top-text {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 19px;
  line-height: 24px;
  color: var(--main-text-color);
}

.hero__top-text:first-child::after {
  width: 60px;
  height: 30px;
  margin-left: 30px;
  content: "";
  background-image: url("../images/hero-top-circles.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 33px;
  font-family: var(--second-family);
  font-size: 70px;
  line-height: 75px;
  text-align: center;
  color: var(--main-text-color);
}

.hero__text-box {
  width: 773px;
  margin: 0 auto;
}

.hero__text {
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #7F8893;
}

.hero__link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 425px;
}

.hero__link:first-child {
  padding: 14px 50px;
  border: 1px solid #A294FF;
  border-radius: 500px;
}

.hero__link:first-child:hover {
  background-color: #9181FF;
}

.hero__link:last-child {
  padding: 14px 46px;
  background-color: #9181FF;
  border: 1px solid #A294FF;
  border-radius: 500px;
}

.hero__link:last-child:hover {
  background-color: #fff;
}

/* IMAGES SECTION START */

.images {
  padding-top: 120px;
  background-color: #ECF0F7;
}

.images__box {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.images__left-box {
  position: relative;
  margin-top: 160px;
}

.images__right-box {
  position: relative;
}

.images__img-box {
  position: relative;
}

.images__btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 160px;
  height: 160px;
  background-image: url("../images/plus-btn.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #A294FF;
  border: none;
  cursor: pointer;
}

/* FEATURES SECTION START */

.features {
  padding-top: 119px;
  padding-bottom: 130px;
}

.features__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.features__top-title-box {
  width: 504px;
}

.features__top-span {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 24px;
  color: var(--main-text-color);
}

.features__top-span::after {
  width: 120px;
  height: 1px;
  margin-left: 15px;
  content: "";
  background-color: var(--main-bg-color);
}

.features__title {
  margin: 0;
  font-family: var(--second-family);
  font-size: 40px;
  line-height: 46px;
  color: var(--main-text-color);
}

.features__top-text-box {
  margin-bottom: 85px;
  width: 544px;
}

.features__text {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
}

.features__link {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 4px;
  color: var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 349px;
}

.features__item:nth-child(1) {
  margin-right: 68px;
  margin-bottom: 70px;
}

.features__item:nth-child(2) {
  width: 352px;
  margin-right: 64px;
}

.features__item:nth-child(3) {
  width: 331px;
}

.features__item:nth-child(4) {
  width: 367px;
  margin-right: 50px;
}

.features__item:nth-child(5) {
  width: 350px;
}

.features__item::before {
  display: block;
  width: 300px;
  height: 267px;
  margin-bottom: 30px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
}

.features__item:nth-child(1)::before {
  width: 296px;
  height: 256px;
  background-image: url("../images/design.svg");
}

.features__item:nth-child(2)::before {
  margin-bottom: 23px;
  background-image: url("../images/branding.svg");
}

.features__item:nth-child(3)::before {
  background-image: url("../images/ui.svg");
}

.features__item:nth-child(4)::before {
  background-image: url("../images/creative.svg");
}

.features__item:nth-child(5)::before {
  background-image: url("../images/motion.svg");
}

.features__number {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  font-family: var(--font-family);
  font-size: 19px;
  line-height: 24px;
  color: var(--main-text-color);
}

.features__number::after {
  width: 120px;
  height: 1px;
  margin-left: 15px;
  content: "";
  background-color: var(--main-bg-color);
}

.features__heading {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-size: 26px;
  line-height: 36px;
  color: var(--main-text-color);
}

.features__desc {
  margin: 0;
  font-size: var(--main-font-size);
  line-height: 25px;
  color: var(--main-text-color);
}

/* GOAL SECTION START */

.goal {
  padding: 119px 0;
  background-color: #F8FE91;
}

.goal__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.goal__top-title-box {
  width: 505px;
}

.goal__span {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 24px;
  color: var(--main-text-color);
}

.goal__span::after {
  width: 120px;
  height: 1px;
  margin-left: 15px;
  content: "";
  background-color: var(--main-bg-color);
}

.goal__title {
  margin: 0;
  font-family: var(--second-family);
  font-size: 40px;
  line-height: 46px;
  color: var(--main-text-color);
}

.goal__text-box {
  width: 571px;
  margin-top: 39px;
}

.goal__text {
  margin: 0;
  margin-bottom: 35px;
  font-family: var(--second-family);
  font-size: var(--second-font-size);
  line-height: 28px;
  color: var(--main-text-color);
}

.goal__link {
  font-size: var(--second-font-size);
  line-height: 28px;
  padding-bottom: 4px;
  color: var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
}

.goal__bottom {
  width: 1380px;
  margin: 0 auto;
}

.goal__item {
  padding-top: 37px;
  padding-bottom: 33px;
  border-bottom: 1px solid var(--main-text-color);
}

.goal__item:first-child {
  border-top: 1px solid var(--main-text-color);
}

.goal__item-text {
  position: relative;
  padding-left: 30px;
  font-family: var(--second-family);
  font-size: 35px;
  line-height: 42px;
  color: var(--main-text-color);
}

.goal__item-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "01";
  font-family: var(--font-family);
  font-size: 19px;
  line-height: 22px;
  color: var(--main-text-color);
}

.goal__item:nth-child(1) .goal__item-text{
  margin-left: 90px;
}

.goal__item:nth-child(2) .goal__item-text{
  margin-left: 615px;
}

.goal__item:nth-child(3) .goal__item-text{
  margin-left: 383px;
}

.goal__item:nth-child(4) .goal__item-text{
  margin-left: 873px;
}

.goal__item:nth-child(5) .goal__item-text{
  margin-left: 522px;
}

.goal__item:nth-child(6) .goal__item-text{
  margin-left: 118px;
}



.goal__item:nth-child(2) .goal__item-text::before{
  content: "02";
}

.goal__item:nth-child(3) .goal__item-text::before{
  content: "03";
}

.goal__item:nth-child(4) .goal__item-text::before{
  content: "04";
}

.goal__item:nth-child(5) .goal__item-text::before{
  content: "05";
}

.goal__item:nth-child(6) .goal__item-text::before{
  content: "06";
}